<a href="https://colab.research.google.com/github/AjanEshwara/pySpark_data_handling/blob/main/Tutorial2_PySpark_DF_CN7030_(uel).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Unlock the Potential of PySpark DataFrames: Hands-on Tips and Personalizations**

`University of East London, Docklands Campus, 2024-25`

`module name`: **`Machine Learning on Big Data (CN7030) - MSc AI&DS`**

`Author`: **`Dr Amin Karami (PG Academic Lead in CDT School)`**

`E`: **`a.karami@uel.ac.uk`**

`W`: **`http://www.aminkarami.com/`**

---

**DataFrame (DF)**: Schema (named columns) + declarative language. A DataFrame is a Dataset organized into named columns. It is conceptually equivalent to a table in a relational database. It is very efficient for strucutred data.

data: https://drive.google.com/file/d/1HiP_TkWYClAmzhhOFzhXdOXTfZb9DoB_/view?usp=drive_link (641MB)

source: https://spark.apache.org/docs/latest/sql-programming-guide.html

source: https://spark.apache.org/docs/latest/api/python/reference/

# **Section 1: Initialize PySpark**

In [2]:
!pip3 install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

# **System Check**

In [3]:
#system free space memory
!free -h

               total        used        free      shared  buff/cache   available
Mem:            12Gi       787Mi       7.0Gi       1.0Mi       4.9Gi        11Gi
Swap:             0B          0B          0B

In [4]:
#available free cores
!nproc

2

# **Linking with Spark**

In [5]:
# Linking with Spark
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
                    .appName("Tutorial2_CN7030") \
                    .master("local[*]") \
                    .config("spark.executor.memory", "4g") \
                    .config("spark.driver.memory", "2g") \
                    .config("spark.executor.cores", "2") \
                    .config("spark.sql.inMemoryColumnarStorage.compressed", "true") \
                    .getOrCreate()

spark

In [6]:
#Linkink with spark
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
                    .appName("Tutorial_01") \
                    .master("local[*]") \
                    .config("spark.executor.memory", "4g") \
                    .config("spark.driver.memory", "2g") \
                    .config("spark.executor.cores", "2") \
                    .config("spark.sql.inMemoryColumnarStorage.compressed", "true") \
                    .getOrCreate()

spark

# **Connect to the Google Drive**

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Section 2: Create PySpark DataFrame from CSV**

In [8]:
df = spark.read.format('csv').load("/content/drive/MyDrive/data.csv", header=True, inferSchema=True)

#show table
df.show(truncate=True)

#show schema
df.printSchema()

#some info
print(df.count())
print(len(df.columns))

+--------------------+------------------+------+------------------+-----+------+------+------+--------+------+--------+
|                  id|               age|salary|             score|sales|height|weight|gender|category|income|expenses|
+--------------------+------------------+------+------------------+-----+------+------+------+--------+------+--------+
|  0.8017532427858894| 79.71301351894658|     4| 37.10369234532471|   47|    62|     5|Female|       B|     8|      85|
|  0.6565552949992319| 24.22600602366628|     6| 79.75769828959885|    8|    30|    42|  Male|       A|    70|      85|
|  0.2515595782593636| 70.97364852287149|    17| 71.71375356646551|   82|     1|    72|  Male|       A|    66|      53|
|  0.2073428376111074| 45.09378549789149|    32|              NULL|   59|    12|    21|  Male|       B|    56|       2|
|  0.6392921379278927|30.357970527906065|    13|              NULL|   22|    69|    58|Female|       A|     0|      74|
|  0.8505582285081454|              NULL|    14| 36.36958873390776|   16|    57|    51|Female|       B|    22|      52|
|  0.8184715436384177|              NULL|    88|              NULL|   23|    54|    41|  Male|       B|    19|      27|
|  0.7555506990689408| 57.94047153077633|    37| 99.05156945373632|   18|    67|    94|Female|       A|    91|      89|
| 0.34380469538701885|              NULL|     0| 68.12994102604317|   50|    66|    29|Female|       A|    39|      10|
| 0.07531261247891552| 78.00738662272417|    44|57.377461450339794|   32|    83|    68|  Male|       A|     3|      35|
|  0.6520025939987977| 5.739474360847097|    60|              NULL|   69|    20|    59|Female|       A|    89|      94|
|  0.6703304054828096| 82.09315695991832|    61| 86.30976835817982|   13|    64|     5|Female|       B|    30|      10|
|   0.635481528615935|29.232534249025754|    33| 72.17303870051973|   19|    42|     5|Female|       A|     1|      11|
|  0.6088087252200041| 46.04202629270567|    20| 82.62279087618317|   83|    39|    26|  Male|       A|    10|      58|
|  0.9688522184233442|              NULL|    32|              NULL|   55|    88|    83|Female|       A|    98|      18|
| 0.12847898035637806| 58.74807147974267|    41|25.651553478847266|   96|     0|     3|Female|       B|    36|      23|
|  0.7095122526980591|              NULL|    69|              NULL|   72|    39|    97|  Male|       A|    88|      18|
|0.054599328832547256|58.445521939730064|    84|29.619007900937078|   94|    72|    74|  Male|       A|    78|      87|
|  0.8363451490970935| 9.267427535136319|    35|              NULL|   62|    16|    30|Female|       B|    13|      69|
| 0.06476522637900317|              NULL|    47|              NULL|   78|    19|     4|Female|       B|    80|      23|
+--------------------+------------------+------+------------------+-----+------+------+------+--------+------+--------+
only showing top 20 rows

root
 |-- id: double (nullable = true)
 |-- age: double (nullable = true)
 |-- salary: integer (nullable = true)
 |-- score: double (nullable = true)
 |-- sales: integer (nullable = true)
 |-- height: integer (nullable = true)
 |-- weight: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- category: string (nullable = true)
 |-- income: integer (nullable = true)
 |-- expenses: integer (nullable = true)

10000000
11

# How many partitions?

In [9]:
df.rdd.getNumPartitions()

6

# Let's increase the number of partitions

In [10]:
df2 = df.repartition(8)
df2.rdd.getNumPartitions()

8

In [11]:
df3 = df.repartition('category')
df3.rdd.getNumPartitions()

2

In [12]:
df4 = df.repartition(6, 'category')
df4.rdd.getNumPartitions()

6

In [13]:
df5 = df.repartitionByRange(10, "income")
df5.rdd.getNumPartitions()

10

# Write the DF to disk in a partitioned manner

In [14]:
df5.write.option('header', True) \
          .partitionBy('gender') \
          .mode('overwrite') \
          .csv('df5_repartion_gender')

In [15]:
df4.write.option('header', True) \
          .partitionBy('gender') \
          .mode('overwrite') \
          .csv('df4_repartion_gender')

In [16]:
df5.repartition(3).write.option('header', True) \
                  .partitionBy('gender') \
                  .mode('overwrite') \
                  .csv('df5_repartion_gender_2')

In [17]:
df4.write.option('header', True) \
         .partitionBy("gender") \
         .mode("overwrite") \
         .csv("gender_df4")

# spark.conf.set("spark.sql.files.maxRecordsPerFile", "500000")

In [18]:
df5.coalesce(6).write.option('header', True) \
         .partitionBy("gender", "category") \
         .mode("overwrite") \
         .csv("gender_df5_twoPartitons")

# **Section 3: DataFrame Operations and Transformations**

In [19]:
df2.select('gender', 'income','age').show(5)

+------+------+-----------------+
|gender|income|              age|
+------+------+-----------------+
|  Male|    67| 72.5729444487239|
|Female|    22|79.65777311571274|
|  Male|    60|83.53864267645021|
|Female|    38|40.53360311225305|
|  Male|    80|72.95804039716336|
+------+------+-----------------+
only showing top 5 rows

In [20]:
df4.select('gender', 'salary','age').show(5)

+------+------+------------------+
|gender|salary|               age|
+------+------+------------------+
|  Male|     6| 24.22600602366628|
|  Male|    17| 70.97364852287149|
|Female|    13|30.357970527906065|
|Female|    37| 57.94047153077633|
|Female|     0|              NULL|
+------+------+------------------+
only showing top 5 rows

In [21]:
df4.filter((df4.age>30)&(df4.salary>5)).show(5)

+-------------------+------------------+------+------------------+-----+------+------+------+--------+------+--------+
|                 id|               age|salary|             score|sales|height|weight|gender|category|income|expenses|
+-------------------+------------------+------+------------------+-----+------+------+------+--------+------+--------+
| 0.2515595782593636| 70.97364852287149|    17| 71.71375356646551|   82|     1|    72|  Male|       A|    66|      53|
| 0.6392921379278927|30.357970527906065|    13|              NULL|   22|    69|    58|Female|       A|     0|      74|
| 0.7555506990689408| 57.94047153077633|    37| 99.05156945373632|   18|    67|    94|Female|       A|    91|      89|
|0.07531261247891552| 78.00738662272417|    44|57.377461450339794|   32|    83|    68|  Male|       A|     3|      35|
| 0.6088087252200041| 46.04202629270567|    20| 82.62279087618317|   83|    39|    26|  Male|       A|    10|      58|
+-------------------+------------------+------+------------------+-----+------+------+------+--------+------+--------+
only showing top 5 rows

In [22]:
from pyspark.sql.functions import mean,round,sum
df4.groupBy('category').agg(
    round(mean('salary'),2).alias('mean_salary'),
    round(sum('salary'),2).alias('sum_salary')
).show(10)

+--------+-----------+----------+
|category|mean_salary|sum_salary|
+--------+-----------+----------+
|       A|      49.49| 247412615|
|       B|      49.51| 247582007|
+--------+-----------+----------+

In [23]:
df4.sort('height',"score", ascending=False).show(10)

+--------------------+------------------+------+-----------------+-----+------+------+------+--------+------+--------+
|                  id|               age|salary|            score|sales|height|weight|gender|category|income|expenses|
+--------------------+------------------+------+-----------------+-----+------+------+------+--------+------+--------+
| 0.16933902279650814|              NULL|    37|99.99842061516966|   63|    99|    78|Female|       B|    60|      36|
|  0.4414179206080756| 47.31491599580799|    17|99.99629934376922|   96|    99|    53|Female|       A|    13|      63|
|  0.6365465779061935| 75.97020871674081|    59|99.99605629873773|   56|    99|    82|  Male|       A|    36|      64|
|   0.137572774067943| 46.72427635576165|    16|99.99478454051689|   14|    99|    68|Female|       B|    20|      47|
|  0.7188334449042442|              NULL|    24|99.99452559017527|    5|    99|    66|Female|       B|    73|      92|
|  0.6186372186898206| 68.40377455302632|     9|99.99385982998031|   24|    99|    55|Female|       A|     4|      20|
| 0.01702158526089126|              NULL|    71|99.99101670242504|   95|    99|    41|Female|       A|    54|      17|
| 0.21138505523915896|1.5385584748399683|    41|99.99093901732411|   76|    99|    95|Female|       A|     2|       1|
|   0.595808681898794|              NULL|    27|99.98989820461763|   61|    99|    12|  Male|       B|    71|       3|
|0.053015111980724394| 91.17708899283798|    46|99.98754671474525|   74|    99|    41|  Male|       B|     8|      82|
+--------------------+------------------+------+-----------------+-----+------+------+------+--------+------+--------+
only showing top 10 rows

In [24]:
#renamed a column
renamed_df=df4.withColumnRenamed("income","annual_income") \
              .withColumnRenamed("score", "annual_score")
renamed_df.show(10)

+-------------------+------------------+------+------------------+-----+------+------+------+--------+-------------+--------+
|                 id|               age|salary|      annual_score|sales|height|weight|gender|category|annual_income|expenses|
+-------------------+------------------+------+------------------+-----+------+------+------+--------+-------------+--------+
| 0.6565552949992319| 24.22600602366628|     6| 79.75769828959885|    8|    30|    42|  Male|       A|           70|      85|
| 0.2515595782593636| 70.97364852287149|    17| 71.71375356646551|   82|     1|    72|  Male|       A|           66|      53|
| 0.6392921379278927|30.357970527906065|    13|              NULL|   22|    69|    58|Female|       A|            0|      74|
| 0.7555506990689408| 57.94047153077633|    37| 99.05156945373632|   18|    67|    94|Female|       A|           91|      89|
|0.34380469538701885|              NULL|     0| 68.12994102604317|   50|    66|    29|Female|       A|           39|      10|
|0.07531261247891552| 78.00738662272417|    44|57.377461450339794|   32|    83|    68|  Male|       A|            3|      35|
| 0.6520025939987977| 5.739474360847097|    60|              NULL|   69|    20|    59|Female|       A|           89|      94|
|  0.635481528615935|29.232534249025754|    33| 72.17303870051973|   19|    42|     5|Female|       A|            1|      11|
| 0.6088087252200041| 46.04202629270567|    20| 82.62279087618317|   83|    39|    26|  Male|       A|           10|      58|
| 0.9688522184233442|              NULL|    32|              NULL|   55|    88|    83|Female|       A|           98|      18|
+-------------------+------------------+------+------------------+-----+------+------+------+--------+-------------+--------+
only showing top 10 rows

In [25]:
# drop
reduced_df = df4.drop("id", "height")
reduced_df.show(10)

+------------------+------+------------------+-----+------+------+--------+------+--------+
|               age|salary|             score|sales|weight|gender|category|income|expenses|
+------------------+------+------------------+-----+------+------+--------+------+--------+
| 24.22600602366628|     6| 79.75769828959885|    8|    42|  Male|       A|    70|      85|
| 70.97364852287149|    17| 71.71375356646551|   82|    72|  Male|       A|    66|      53|
|30.357970527906065|    13|              NULL|   22|    58|Female|       A|     0|      74|
| 57.94047153077633|    37| 99.05156945373632|   18|    94|Female|       A|    91|      89|
|              NULL|     0| 68.12994102604317|   50|    29|Female|       A|    39|      10|
| 78.00738662272417|    44|57.377461450339794|   32|    68|  Male|       A|     3|      35|
| 5.739474360847097|    60|              NULL|   69|    59|Female|       A|    89|      94|
|29.232534249025754|    33| 72.17303870051973|   19|     5|Female|       A|     1|      11|
| 46.04202629270567|    20| 82.62279087618317|   83|    26|  Male|       A|    10|      58|
|              NULL|    32|              NULL|   55|    83|Female|       A|    98|      18|
+------------------+------+------------------+-----+------+------+--------+------+--------+
only showing top 10 rows

# **Section 4: Working with Missing Data**

In [27]:
from pyspark.sql.functions import col,isnan,when,count

missing_values = df4.select([sum(col(c).isNull().cast('Int')).alias(c) for c in df4.columns])
missing_values.show()

+---+-------+------+-------+-----+------+------+------+--------+------+--------+
| id|    age|salary|  score|sales|height|weight|gender|category|income|expenses|
+---+-------+------+-------+-----+------+------+------+--------+------+--------+
|  0|4000499|     0|4001316|    0|     0|     0|     0|       0|     0|       0|
+---+-------+------+-------+-----+------+------+------+--------+------+--------+

In [28]:
df_copy = df4.select("*")
df_cleaned = df_copy.dropna()
df_cleaned.show()

+--------------------+------------------+------+------------------+-----+------+------+------+--------+------+--------+
|                  id|               age|salary|             score|sales|height|weight|gender|category|income|expenses|
+--------------------+------------------+------+------------------+-----+------+------+------+--------+------+--------+
|  0.6565552949992319| 24.22600602366628|     6| 79.75769828959885|    8|    30|    42|  Male|       A|    70|      85|
|  0.2515595782593636| 70.97364852287149|    17| 71.71375356646551|   82|     1|    72|  Male|       A|    66|      53|
|  0.7555506990689408| 57.94047153077633|    37| 99.05156945373632|   18|    67|    94|Female|       A|    91|      89|
| 0.07531261247891552| 78.00738662272417|    44|57.377461450339794|   32|    83|    68|  Male|       A|     3|      35|
|   0.635481528615935|29.232534249025754|    33| 72.17303870051973|   19|    42|     5|Female|       A|     1|      11|
|  0.6088087252200041| 46.04202629270567|    20| 82.62279087618317|   83|    39|    26|  Male|       A|    10|      58|
|0.054599328832547256|58.445521939730064|    84|29.619007900937078|   94|    72|    74|  Male|       A|    78|      87|
|  0.5454863233449233| 36.65540490085631|     3| 80.95472655129328|   60|    35|    93|  Male|       A|    25|      88|
|  0.7408143015309203| 52.83048441274324|    95|46.769693535768866|   59|     4|    10|Female|       A|    19|      38|
|4.552782766258367...|  36.8279008351304|    34| 63.51762459107621|   43|     6|    83|Female|       A|    69|      45|
| 0.45401368947315324| 83.01161743120828|    83| 21.36473871373613|   10|    48|     0|Female|       A|    12|      72|
| 0.17341238506215195|  81.8143902590269|    67| 67.67123640498184|   52|    72|    10|Female|       A|    65|      96|
|  0.5436339619980622|  41.2143749297729|    18|19.465354791626822|   34|    26|    97|Female|       A|    53|      60|
| 0.29046522630155214| 42.35735206845776|    81|56.120306677745255|    5|    64|    35|  Male|       A|    47|      76|
|  0.7943068875839633|  75.3903419244539|    74| 66.35318574415247|   29|    93|    54|  Male|       A|    15|      82|
|  0.6515133759440173|39.656089700526934|     8| 76.25487950602805|   41|    66|    57|Female|       A|    50|      81|
|  0.6942668428415231| 69.44668653860472|    15|  80.4118897410932|   37|    38|    25|  Male|       A|    24|      98|
|   0.984190209323684|48.482201430183444|    45| 85.24063319315002|    5|    51|    54|Female|       A|     8|      15|
|  0.5952518968572876| 25.79457498026566|    54|17.344834627413174|    4|    67|    45|Female|       A|    38|      99|
|  0.7443564202615621|24.045143751523245|    76|29.160812675849577|   15|    96|    85|Female|       A|    43|      17|
+--------------------+------------------+------+------------------+-----+------+------+------+--------+------+--------+
only showing top 20 rows

In [30]:
from pyspark.sql.functions import col,isnan,when,count

missing_values = df_cleaned.select([sum(col(c).isNull().cast('Int')).alias(c) for c in df_cleaned.columns])
missing_values.show()

+---+---+------+-----+-----+------+------+------+--------+------+--------+
| id|age|salary|score|sales|height|weight|gender|category|income|expenses|
+---+---+------+-----+-----+------+------+------+--------+------+--------+
|  0|  0|     0|    0|    0|     0|     0|     0|       0|     0|       0|
+---+---+------+-----+-----+------+------+------+--------+------+--------+

In [31]:
df_cleaned.count()

3598970

In [32]:
#drop selected values
columns_to_check = ["age","salary"]
df_copy = df4.select("*")
df_cleaned = df_copy.dropna(subset=columns_to_check)
df_cleaned.count()

5999501

In [33]:
#filling missing values with constance
df_copy = df4.select("*")
df_filled = df_copy.fillna({'age':30,'score':50})
df_filled.show(30)

+--------------------+------------------+------+------------------+-----+------+------+------+--------+------+--------+
|                  id|               age|salary|             score|sales|height|weight|gender|category|income|expenses|
+--------------------+------------------+------+------------------+-----+------+------+------+--------+------+--------+
|  0.6565552949992319| 24.22600602366628|     6| 79.75769828959885|    8|    30|    42|  Male|       A|    70|      85|
|  0.2515595782593636| 70.97364852287149|    17| 71.71375356646551|   82|     1|    72|  Male|       A|    66|      53|
|  0.6392921379278927|30.357970527906065|    13|              50.0|   22|    69|    58|Female|       A|     0|      74|
|  0.7555506990689408| 57.94047153077633|    37| 99.05156945373632|   18|    67|    94|Female|       A|    91|      89|
| 0.34380469538701885|              30.0|     0| 68.12994102604317|   50|    66|    29|Female|       A|    39|      10|
| 0.07531261247891552| 78.00738662272417|    44|57.377461450339794|   32|    83|    68|  Male|       A|     3|      35|
|  0.6520025939987977| 5.739474360847097|    60|              50.0|   69|    20|    59|Female|       A|    89|      94|
|   0.635481528615935|29.232534249025754|    33| 72.17303870051973|   19|    42|     5|Female|       A|     1|      11|
|  0.6088087252200041| 46.04202629270567|    20| 82.62279087618317|   83|    39|    26|  Male|       A|    10|      58|
|  0.9688522184233442|              30.0|    32|              50.0|   55|    88|    83|Female|       A|    98|      18|
|  0.7095122526980591|              30.0|    69|              50.0|   72|    39|    97|  Male|       A|    88|      18|
|0.054599328832547256|58.445521939730064|    84|29.619007900937078|   94|    72|    74|  Male|       A|    78|      87|
|  0.7232072841267063| 56.98358930373385|    20|              50.0|   59|    14|    64|  Male|       A|    45|      51|
|  0.9792774293958025| 5.850178599840006|    20|              50.0|   99|     9|    61|Female|       A|    16|       8|
|  0.6455441593808561| 68.47061987702949|    75|              50.0|   62|    31|    44|Female|       A|     2|      42|
|   0.483451238159184|              30.0|    24|              50.0|   94|    78|    64|Female|       A|    20|      25|
|0.005039492476539786| 64.93671011719317|    45|              50.0|   31|    63|    62|  Male|       A|    35|       6|
|  0.5454863233449233| 36.65540490085631|     3| 80.95472655129328|   60|    35|    93|  Male|       A|    25|      88|
|  0.7664261144217706|3.5734458508151823|    92|              50.0|    1|    32|     4|Female|       A|    76|      94|
| 0.49419657787059956|              30.0|    32| 16.81279961603194|   86|    74|    42|Female|       A|    90|      20|
|  0.6578555647494496|              30.0|    46|              50.0|   36|    58|     0|Female|       A|    41|      37|
|0.010815371607771573|              30.0|    40|6.1423164855707535|   37|    73|    61|Female|       A|    39|      73|
|  0.8316027808351703|   64.751100030111|    96|              50.0|   13|    24|    30|Female|       A|     5|      19|
|  0.8903944884892366|              30.0|    81|              50.0|   41|    48|     8|Female|       A|    82|      90|
|  0.8946384637460324|              30.0|    32|16.222098630847015|   68|    85|    69|  Male|       A|    94|      25|
|  0.2616187823085325|              30.0|    39| 91.41075311900889|   65|    88|    51|  Male|       A|    63|      18|
|  0.7670569675151151|              30.0|    74|              50.0|   10|    19|    29|  Male|       A|    74|      87|
| 0.28862497348283567| 34.91854369238886|    76|              50.0|   73|    43|    48|  Male|       A|    83|      39|
|   0.247320653730023|              30.0|    44|55.584824186246664|   16|    89|     7|Female|       A|    82|      39|
| 0.48818332179439294| 16.66692284929838|    84|              50.0|   16|    72|    46|  Male|       A|    35|      36|
+--------------------+------------------+------+------------------+-----+------+------+------+--------+------+--------+
only showing top 30 rows

In [34]:
from pyspark.ml.feature import Imputer

imputer  = Imputer(inputCols=["age","score"], outputCols=["age_imputed","score_imputed"],strategy="mean")
df_imputed = imputer.fit(df4).transform(df4)
df_imputed.show(40)

+--------------------+------------------+------+------------------+-----+------+------+------+--------+------+--------+------------------+------------------+
|                  id|               age|salary|             score|sales|height|weight|gender|category|income|expenses|       age_imputed|     score_imputed|
+--------------------+------------------+------+------------------+-----+------+------+------+--------+------+--------+------------------+------------------+
|  0.6565552949992319| 24.22600602366628|     6| 79.75769828959885|    8|    30|    42|  Male|       A|    70|      85| 24.22600602366628| 79.75769828959885|
|  0.2515595782593636| 70.97364852287149|    17| 71.71375356646551|   82|     1|    72|  Male|       A|    66|      53| 70.97364852287149| 71.71375356646551|
|  0.6392921379278927|30.357970527906065|    13|              NULL|   22|    69|    58|Female|       A|     0|      74|30.357970527906065| 49.99490561227385|
|  0.7555506990689408| 57.94047153077633|    37| 99.05156945373632|   18|    67|    94|Female|       A|    91|      89| 57.94047153077633| 99.05156945373632|
| 0.34380469538701885|              NULL|     0| 68.12994102604317|   50|    66|    29|Female|       A|    39|      10|49.996444602802995| 68.12994102604317|
| 0.07531261247891552| 78.00738662272417|    44|57.377461450339794|   32|    83|    68|  Male|       A|     3|      35| 78.00738662272417|57.377461450339794|
|  0.6520025939987977| 5.739474360847097|    60|              NULL|   69|    20|    59|Female|       A|    89|      94| 5.739474360847097| 49.99490561227385|
|   0.635481528615935|29.232534249025754|    33| 72.17303870051973|   19|    42|     5|Female|       A|     1|      11|29.232534249025754| 72.17303870051973|
|  0.6088087252200041| 46.04202629270567|    20| 82.62279087618317|   83|    39|    26|  Male|       A|    10|      58| 46.04202629270567| 82.62279087618317|
|  0.9688522184233442|              NULL|    32|              NULL|   55|    88|    83|Female|       A|    98|      18|49.996444602802995| 49.99490561227385|
|  0.7095122526980591|              NULL|    69|              NULL|   72|    39|    97|  Male|       A|    88|      18|49.996444602802995| 49.99490561227385|
|0.054599328832547256|58.445521939730064|    84|29.619007900937078|   94|    72|    74|  Male|       A|    78|      87|58.445521939730064|29.619007900937078|
|  0.7232072841267063| 56.98358930373385|    20|              NULL|   59|    14|    64|  Male|       A|    45|      51| 56.98358930373385| 49.99490561227385|
|  0.9792774293958025| 5.850178599840006|    20|              NULL|   99|     9|    61|Female|       A|    16|       8| 5.850178599840006| 49.99490561227385|
|  0.6455441593808561| 68.47061987702949|    75|              NULL|   62|    31|    44|Female|       A|     2|      42| 68.47061987702949| 49.99490561227385|
|   0.483451238159184|              NULL|    24|              NULL|   94|    78|    64|Female|       A|    20|      25|49.996444602802995| 49.99490561227385|
|0.005039492476539786| 64.93671011719317|    45|              NULL|   31|    63|    62|  Male|       A|    35|       6| 64.93671011719317| 49.99490561227385|
|  0.5454863233449233| 36.65540490085631|     3| 80.95472655129328|   60|    35|    93|  Male|       A|    25|      88| 36.65540490085631| 80.95472655129328|
|  0.7664261144217706|3.5734458508151823|    92|              NULL|    1|    32|     4|Female|       A|    76|      94|3.5734458508151823| 49.99490561227385|
| 0.49419657787059956|              NULL|    32| 16.81279961603194|   86|    74|    42|Female|       A|    90|      20|49.996444602802995| 16.81279961603194|
|  0.6578555647494496|              NULL|    46|              NULL|   36|    58|     0|Female|       A|    41|      37|49.996444602802995| 49.99490561227385|
|0.010815371607771573|              NULL|    40|6.1423164855707535|   37|    73|    61|Female|       A|    39|      73|49.996444602802995|6.1423164855707535|
|  0.8316027808351703|   64.751100030111|    96|              NULL|   13|    24|    30|Female|       A|     5|      19|   64.751100030111| 49.99490561227385|
|  0.8903944884892366|              NULL|    81|              NULL|   41|    48|     8|Female|       A|    82|      90|49.996444602802995| 49.99490561227385|
|  0.8946384637460324|              NULL|    32|16.222098630847015|   68|    85|    69|  Male|       A|    94|      25|49.996444602802995|16.222098630847015|
|  0.2616187823085325|              NULL|    39| 91.41075311900889|   65|    88|    51|  Male|       A|    63|      18|49.996444602802995| 91.41075311900889|
|  0.7670569675151151|              NULL|    74|              NULL|   10|    19|    29|  Male|       A|    74|      87|49.996444602802995| 49.99490561227385|
| 0.28862497348283567| 34.91854369238886|    76|              NULL|   73|    43|    48|  Male|       A|    83|      39| 34.91854369238886| 49.99490561227385|
|   0.247320653730023|              NULL|    44|55.584824186246664|   16|    89|     7|Female|       A|    82|      39|49.996444602802995|55.584824186246664|
| 0.48818332179439294| 16.66692284929838|    84|              NULL|   16|    72|    46|  Male|       A|    35|      36| 16.66692284929838| 49.99490561227385|
|  0.6472468118936782| 25.08848500202907|    12|              NULL|    1|    60|    54|Female|       A|    87|      87| 25.08848500202907| 49.99490561227385|
|  0.2824603777212489|              NULL|    79|29.952166731998563|   92|    98|     2|  Male|       A|    59|      38|49.996444602802995|29.952166731998563|
| 0.16621753840716358| 89.39373477112586|    18|              NULL|    8|    73|    63|Female|       A|    54|      56| 89.39373477112586| 49.99490561227385|
|0.001979578565689...| 19.95627122828123|    86|              NULL|   26|    41|    12|  Male|       A|    17|      93| 19.95627122828123| 49.99490561227385|
|  0.9911223195821167|              NULL|    50|              NULL|   24|    34|    59|Female|       A|    73|      92|49.996444602802995| 49.99490561227385|
|   0.905720440093089|              NULL|    64|  92.2395806998369|   19|    25|    98|Female|       A|    40|      20|49.996444602802995|  92.2395806998369|
|  0.7408143015309203| 52.83048441274324|    95|46.769693535768866|   59|     4|    10|Female|       A|    19|      38| 52.83048441274324|46.769693535768866|
| 0.14028386492977396|14.802205609816365|    67|              NULL|   11|    72|     2|Female|       A|    36|      12|14.802205609816365| 49.99490561227385|
|4.552782766258367...|  36.8279008351304|    34| 63.51762459107621|   43|     6|    83|Female|       A|    69|      45|  36.8279008351304| 63.51762459107621|
| 0.49223960729756844|              NULL|    53|12.854786541167496|   26|    94|    59|Female|       A|     7|      28|49.996444602802995|12.854786541167496|
+--------------------+------------------+------+------------------+-----+------+------+------+--------+------+--------+------------------+------------------+
only showing top 40 rows

In [37]:


from pyspark.sql.functions import format_number, col

df_imputed = df_imputed.withColumn("age_imputed",format_number(col("age_imputed"), 0))
df_imputed = df_imputed.withColumn("score_imputed",format_number(col("score_imputed"), 3))

df_imputed.show(30)

+--------------------+------------------+------+------------------+-----+------+------+------+--------+------+--------+-----------+-------------+
|                  id|               age|salary|             score|sales|height|weight|gender|category|income|expenses|age_imputed|score_imputed|
+--------------------+------------------+------+------------------+-----+------+------+------+--------+------+--------+-----------+-------------+
|  0.6565552949992319| 24.22600602366628|     6| 79.75769828959885|    8|    30|    42|  Male|       A|    70|      85|         24|       79.758|
|  0.2515595782593636| 70.97364852287149|    17| 71.71375356646551|   82|     1|    72|  Male|       A|    66|      53|         71|       71.714|
|  0.6392921379278927|30.357970527906065|    13|              NULL|   22|    69|    58|Female|       A|     0|      74|         30|       49.995|
|  0.7555506990689408| 57.94047153077633|    37| 99.05156945373632|   18|    67|    94|Female|       A|    91|      89|         58|       99.052|
| 0.34380469538701885|              NULL|     0| 68.12994102604317|   50|    66|    29|Female|       A|    39|      10|         50|       68.130|
| 0.07531261247891552| 78.00738662272417|    44|57.377461450339794|   32|    83|    68|  Male|       A|     3|      35|         78|       57.377|
|  0.6520025939987977| 5.739474360847097|    60|              NULL|   69|    20|    59|Female|       A|    89|      94|          6|       49.995|
|   0.635481528615935|29.232534249025754|    33| 72.17303870051973|   19|    42|     5|Female|       A|     1|      11|         29|       72.173|
|  0.6088087252200041| 46.04202629270567|    20| 82.62279087618317|   83|    39|    26|  Male|       A|    10|      58|         46|       82.623|
|  0.9688522184233442|              NULL|    32|              NULL|   55|    88|    83|Female|       A|    98|      18|         50|       49.995|
|  0.7095122526980591|              NULL|    69|              NULL|   72|    39|    97|  Male|       A|    88|      18|         50|       49.995|
|0.054599328832547256|58.445521939730064|    84|29.619007900937078|   94|    72|    74|  Male|       A|    78|      87|         58|       29.619|
|  0.7232072841267063| 56.98358930373385|    20|              NULL|   59|    14|    64|  Male|       A|    45|      51|         57|       49.995|
|  0.9792774293958025| 5.850178599840006|    20|              NULL|   99|     9|    61|Female|       A|    16|       8|          6|       49.995|
|  0.6455441593808561| 68.47061987702949|    75|              NULL|   62|    31|    44|Female|       A|     2|      42|         68|       49.995|
|   0.483451238159184|              NULL|    24|              NULL|   94|    78|    64|Female|       A|    20|      25|         50|       49.995|
|0.005039492476539786| 64.93671011719317|    45|              NULL|   31|    63|    62|  Male|       A|    35|       6|         65|       49.995|
|  0.5454863233449233| 36.65540490085631|     3| 80.95472655129328|   60|    35|    93|  Male|       A|    25|      88|         37|       80.955|
|  0.7664261144217706|3.5734458508151823|    92|              NULL|    1|    32|     4|Female|       A|    76|      94|          4|       49.995|
| 0.49419657787059956|              NULL|    32| 16.81279961603194|   86|    74|    42|Female|       A|    90|      20|         50|       16.813|
|  0.6578555647494496|              NULL|    46|              NULL|   36|    58|     0|Female|       A|    41|      37|         50|       49.995|
|0.010815371607771573|              NULL|    40|6.1423164855707535|   37|    73|    61|Female|       A|    39|      73|         50|        6.142|
|  0.8316027808351703|   64.751100030111|    96|              NULL|   13|    24|    30|Female|       A|     5|      19|         65|       49.995|
|  0.8903944884892366|              NULL|    81|              NULL|   41|    48|     8|Female|       A|    82|      90|         50|       49.995|
|  0.8946384637460324|              NULL|    32|16.222098630847015|   68|    85|    69|  Male|       A|    94|      25|         50|       16.222|
|  0.2616187823085325|              NULL|    39| 91.41075311900889|   65|    88|    51|  Male|       A|    63|      18|         50|       91.411|
|  0.7670569675151151|              NULL|    74|              NULL|   10|    19|    29|  Male|       A|    74|      87|         50|       49.995|
| 0.28862497348283567| 34.91854369238886|    76|              NULL|   73|    43|    48|  Male|       A|    83|      39|         35|       49.995|
|   0.247320653730023|              NULL|    44|55.584824186246664|   16|    89|     7|Female|       A|    82|      39|         50|       55.585|
| 0.48818332179439294| 16.66692284929838|    84|              NULL|   16|    72|    46|  Male|       A|    35|      36|         17|       49.995|
+--------------------+------------------+------+------------------+-----+------+------+------+--------+------+--------+-----------+-------------+
only showing top 30 rows

In [39]:


# advanced: replace missing values with a custom logic using UDF (user-defined functions)
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

def custom_fill(value):
  if value is None:
    return "unknown"
  else:
    return value


custom_fill_udf = udf(custom_fill, StringType())
df_filled = df4.withColumn("score_filled", custom_fill_udf(df4.score))

df_filled.show(5)

+-------------------+------------------+------+-----------------+-----+------+------+------+--------+------+--------+-----------------+
|                 id|               age|salary|            score|sales|height|weight|gender|category|income|expenses|     score_filled|
+-------------------+------------------+------+-----------------+-----+------+------+------+--------+------+--------+-----------------+
| 0.6565552949992319| 24.22600602366628|     6|79.75769828959885|    8|    30|    42|  Male|       A|    70|      85|79.75769828959885|
| 0.2515595782593636| 70.97364852287149|    17|71.71375356646551|   82|     1|    72|  Male|       A|    66|      53|71.71375356646551|
| 0.6392921379278927|30.357970527906065|    13|             NULL|   22|    69|    58|Female|       A|     0|      74|          unknown|
| 0.7555506990689408| 57.94047153077633|    37|99.05156945373632|   18|    67|    94|Female|       A|    91|      89|99.05156945373632|
|0.34380469538701885|              NULL|     0|68.12994102604317|   50|    66|    29|Female|       A|    39|      10|68.12994102604317|
+-------------------+------------------+------+-----------------+-----+------+------+------+--------+------+--------+-----------------+
only showing top 5 rows